.bus-route-number {
  width: 3em;
  display: inline-block;
  text-align: center;

  .loading & {
    @apply bg-gray-300 !important; 
    @apply text-gray-300 !important;
    @apply animate-pulse;
  }
}

.loading {
  span,
  h1,
  h2 {
    @apply bg-gray-300 !important; 
    @apply text-gray-300 !important;
    @apply animate-pulse;
  }
}