<div class="p-2">
    <header>
        <h1 class="text-3xl truncate">Some big long stop name blah blah blah</h1>
        <h2>Towards City, Gyle Centre, Riccarton..</h2>
    </header>
    <main>
        <div class="grid grid-rows-2 grid-cols-6 h-20 mt-2 border-b border-green-900">
            <div class="col-span-1 row-span-2 flex justify-center items-center">
                <span class="bg-pink-500 text-white py-1 px-4 rounded-sm font-semibold text-xl">22</span>
            </div>
            <div class="col-start-2 col-end-6 row-span-1 flex justify-start items-end"><strong>Next:&nbsp;</strong> 5 mins</div>
            <div class="col-start-2 col-end-6 row-span-1 flex justify-start items-start"><strong>Then:&nbsp;</strong> 13 mins, 45 mins ..</div>
            <div class="col-start-6 col-end-7 row-start-1 row-span-2 flex justify-center items-center">
                <span>🔼</span>
            </div>
        </div>

        <div class="grid grid-rows-2 grid-cols-6 h-20 mt-2 border-b border-green-900">
            <div class="col-span-1 row-span-2 flex justify-center items-center">
                <span class="bg-red-800 text-white py-1 px-4 rounded-sm font-semibold text-xl">35</span>
            </div>
            <div class="col-start-2 col-end-6 row-span-1 flex justify-start items-end"><strong>Next:&nbsp;</strong> 5 mins</div>
            <div class="col-start-2 col-end-6 row-span-1 flex justify-start items-start"><strong>Then:&nbsp;</strong> 13 mins, 45 mins ..</div>
            <div class="col-start-6 col-end-7 row-start-1 row-span-2 flex justify-center items-center">
                <span>🔼</span>
            </div>
        </div>

        <div class="grid grid-rows-2 grid-cols-6 h-20 mt-2 border-b border-green-900">
            <div class="col-span-1 row-span-2 flex justify-center items-center">
                <span class="bg-green-400 text-white py-1 px-4 rounded-sm font-semibold text-xl">36</span>
            </div>
            <div class="col-start-2 col-end-6 row-span-1 flex justify-start items-end"><strong>Next:&nbsp;</strong> 5 mins</div>
            <div class="col-start-2 col-end-6 row-span-1 flex justify-start items-start"><strong>Then:&nbsp;</strong> 13 mins, 45 mins ..</div>
            <div class="col-start-6 col-end-7 row-start-1 row-span-2 flex justify-center items-center">
                <span>🔼</span>
            </div>
        </div>

        <div class="grid grid-rows-2 grid-cols-6 h-20 mt-2 border-b border-green-900">
            <div class="col-span-1 row-span-2 flex justify-center items-center">
                <span class="bg-orange-900 text-white py-1 px-4 rounded-sm font-semibold text-xl">16</span>
            </div>
            <div class="col-start-2 col-end-6 row-span-1 flex justify-start items-end"><strong>Next:&nbsp;</strong> 5 mins</div>
            <div class="col-start-2 col-end-6 row-span-1 flex justify-start items-start"><strong>Then:&nbsp;</strong> 13 mins, 45 mins ..</div>
            <div class="col-start-6 col-end-7 row-start-1 row-span-2 flex justify-center items-center">
                <span>🔼</span>
            </div>
        </div>
    </main>
</div>