<main class="m-2">
    <button class="btn btn-s btn-secondary w-full" routerLink="/stop/123">◀️ Go back</button>

    <div class="mt-2" style="height: 200px;" 
        leaflet [leafletOptions]="options"
        [(leafletCenter)]="center"
        >
    </div>

    <div class="mx-5 p-2 bg-white shadow-md flex items-center" style="position: relative; top: -35px; z-index: 500;">
        <div>
            <span class="py-1 px-4 rounded-sm text-3xl bus-route-number" [style.backgroundColor]="'#5668af'"
                [style.color]="'#FFFFFF'">4</span>
        </div>
        <div>
            <h1 class="text-2xl ml-4">The Jewel</h1>
        </div>
    </div>
    <div class="grid grid-cols-3 grid-rows-4 items-center bg-white shadow-md p-2" style="grid-template-columns: 0.5fr 30px 1fr .5fr; grid-template-rows: repeat(4, 1.5fr);">
        <div class="col-start-1 row-span-1">
            Next: 
        </div>

        <div style="background: url('assets/icons/path4706.png'); background-size: 1em; height: 50px; width:100%; background-position: center; background-repeat: no-repeat;"
            class="col-start-2 row-span-1"></div>
        <div style="background: url('assets/icons/path4706.png'); background-size: 1em; height: 50px; width:100%; background-position: center; background-repeat: no-repeat;"
            class="col-start-2 row-span-1"></div>
        <div style="background: url('assets/icons/path4706.png'); background-size: 1em; height: 50px; width:100%; background-position: center; background-repeat: no-repeat;"
            class="col-start-2 row-span-1"></div>
        <div style="background: url('assets/icons/path4706.png'); background-size: 1em; height: 50px; width:100%; background-position: center; background-repeat: no-repeat;"
            class="col-start-2 row-span-1"></div>

        <div class="col-start-3 row-start-1 row-span-1">Stop 1</div>
        <div class="col-start-3 row-start-2 row-span-1">Stop 2</div>
        <div class="col-start-3 row-start-3 row-span-1">Stop 3</div>
        <div class="col-start-3 row-start-4 row-span-1">Stop 4</div>
        
        <div class="col-start-4 row-start-1 row-span-1">15:14</div>
        <div class="col-start-4 row-start-2 row-span-1">15:15</div>
        <div class="col-start-4 row-start-3 row-span-1">15:16</div>
        <div class="col-start-4 row-start-4 row-span-1">15:17</div>

    </div>
</main>