<main class="m-2">
    <div class="mt-2" style="height: 70vh;" 
        leaflet 
        [leafletOptions]="options"
        [leafletCenter]="center"
        [leafletLayer]="vehicleLayer"
        >
    </div>

    

    <div class="mx-5 p-2 bg-white shadow-md flex items-center" style="position: relative; top: -35px; z-index: 500;">
        <div>
            <span class="py-1 px-4 rounded-sm text-3xl bus-route-number" [style.backgroundColor]="vehicle?.properties.colour"
                [style.color]="vehicle?.properties.text_colour">{{ vehicle?.properties.name }}</span>
        </div>
        <div>
            <h1 class="text-2xl ml-4">{{ vehicle?.properties.destination }}</h1>
        </div>
    </div>
</main>